

.contenedor-fondo {

    width: 1350px;
    height: 900px;
    background-image: url(fondo-formulario.jpg);
}
    
.cuadrado-negro
{
    position: relative;
    width: 1350px;
    height: 900px;
    background-color: #000000;
    opacity: 0.4;
}

.contenedor-general-formulario {
    position: absolute;
    top:0;
    z-index: 30px;
    width: 1350px;
    height: 900px;
    display: flex;
    justify-content: center;

}



.titulo-formulario {

    margin-top: 40px;
    width: 1350px;
    height: 50px;
    color: #ffffff;
    text-align: center;
    font-size: 60px;
    font-family: comic;
}

