
@font-face {
    font-family: 'oswald';
    src: url(./fuente-oswald/Oswald-Regular.ttf);
}


body {
    font-family: 'oswald';
    background-image: url("fondo-formulario.jpg");
    background-size: 100%;
    background-repeat: repeat;
    background-position-x: center;
   
}
.capa-imagen-fondo{
width:  100%;
height: 100%;
background:#000000;
opacity: 1;
}

.fondo__contenedor {
  
    position: relative;
    width: 100vw;

}
    


.general-formulario__contenedor {
     
    position: absolute;
    z-index: 30px;
    top:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}



.titulo__formulario {

    margin-top: 20px;
    width: 1350px;
    height: 50px;
    color: #ffffff;
    text-align: center;
    font-size: 4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.subtitulo__formulario {

    margin-top: 40px;
    width: 1350px;
    height: 50px;
    color: #ffffff;
    text-align: center;
    font-style: italic;
    }

.formulario__titulos-celdas {

    text-align: center;
    color: #ffffff;
    margin-top: 40px;

    }
.formulario__titulos-celdas-nombre {

    text-align: center;
    color: #ffffff;
    margin-top: 5px;
}

.formulario__titulos-celdas-reco {

        text-align: center;
        color: #ffffff;
        margin-top: 190px;
    
        }

.input__contenedor {

    width: 1350px;
    height: 30px;
    display: flex;
    justify-content: center;
    font-family: 'oswald';

}

.input__contenedor--recomendaciones-de-todos {

    margin-top: 20px;
}

.input__contenedor--recomendaciones {

    width: 300px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    color: #ffffff;

}

.formulario__inputs-texto
{

    color: #000000;
    text-align: left;
    width: 550px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    font-family: 'oswald';
    
    }

input[placeholder] {

    padding-left: 10px;
    font-family: 'oswald';

    }
    

label {

    color: #ffffff;
    margin-top: 10px;
    margin-left: 20px;

    }

textarea.formulario__inputs-texto {
        resize: none;
        width: 550px;
        height: 50px;
        padding-left: 10px;
    }


button[type] {

        background-color: #ffffff;
        text-align: center;
        width: 562px;
        margin-top: 60px;
        margin-left: -20px;
        font-family: 'oswald';
    }

input[type] {

        padding-left: 10px;
        font-family: 'oswald';
    
        }

textarea[placeholder] {

        padding-left: 10px;
        padding-top: 10px;
        font-family: 'oswald';
        
        }


